/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/builtin/birthdays.source
/builtin/caldav-stub.source
/builtin/contacts-stub.source
/builtin/google-stub.source
/builtin/ldap-stub.source
/builtin/local-stub.source
/builtin/local.source
/builtin/sendmail.source
/builtin/system-address-book.source
/builtin/system-calendar.source
/builtin/system-memo-list.source
/builtin/system-task-list.source
/builtin/vfolder.source
/builtin/weather-stub.source
/builtin/webcal-stub.source
/builtin/webdav-stub.source
/evolution-scan-gconf-tree-xml
/evolution-source-registry
/evolution-source-registry-resource.c
/evolution-source-registry-resource.h
/org.gnome.evolution.dataserver.Sources.service
/so_locations
/tags
