/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/EBookContacts-1.2.gir
/EBookContacts-1.2.typelib
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/e-book-contacts-enumtypes.c
/e-book-contacts-enumtypes.h
/e-name-western-tables.h
/libebook-contacts-1.2.la
/libebook-contacts-1.2.pc
/libebook-contacts.pc
/so_locations
/tags
