/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/e-cal-enumtypes.c
/e-cal-enumtypes.h
/libecal-1.2.la
/libecal-1.2.pc
/libecal.pc
/so_locations
/tags
