/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/html
/html-build.stamp
/html.stamp
/libedbus-private-decl-list.txt
/libedbus-private-decl.txt
/libedbus-private-undeclared.txt
/libedbus-private-undocumented.txt
/libedbus-private-unused.txt
/libedbus-private.args
/libedbus-private.hierarchy
/libedbus-private.interfaces
/libedbus-private.prerequisites
/libedbus-private.signals
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl/*.bak
/tmpl/libedbus-private-unused.sgml
/xml
