/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/html
/html-build.stamp
/html.stamp
/libedata-cal-decl-list.txt
/libedata-cal-decl.txt
/libedata-cal-undeclared.txt
/libedata-cal-undocumented.txt
/libedata-cal-unused.txt
/libedata-cal.args
/libedata-cal.hierarchy
/libedata-cal.interfaces
/libedata-cal.prerequisites
/libedata-cal.signals
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl/*.bak
/tmpl/libedata-cal-unused.sgml
/xml
