/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/libclient-test-utils.la
/so_locations
/tags
/test-client-add-and-get-async
/test-client-add-and-get-sync
/test-client-add-contact
/test-client-custom-summary
/test-client-e164-param
/test-client-get-contact
/test-client-get-contact-uids
/test-client-get-revision
/test-client-get-view
/test-client-modify-contact
/test-client-photo-is-uri
/test-client-preserve-uid
/test-client-refresh
/test-client-remove-contact
/test-client-remove-contact-by-uid
/test-client-remove-contacts
/test-client-revision-view
/test-client-self
/test-client-suppress-notifications
/test-client-uid-only-view
/test-client-view-operations
/test-client-write-write
