/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/evolution-data-server-3.9.92-coverage
/evolution-data-server-3.9.92-coverage.info
/libetestserverutils.la
/so_locations
/tags
/test-fixture
