/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/so_locations
/tags
/test-client-add-timezone
/test-client-bulk-methods
/test-client-create-object
/test-client-get-attachment-uris
/test-client-get-free-busy
/test-client-get-object-list
/test-client-get-revision
/test-client-get-view
/test-client-modify-object
/test-client-receive-objects
/test-client-refresh
/test-client-remove-object
/test-client-revision-view
/test-client-send-objects
