/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/camel-decl-list.txt
/camel-decl.txt
/camel-undeclared.txt
/camel-undocumented.txt
/camel-unused.txt
/camel.args
/camel.hierarchy
/camel.interfaces
/camel.prerequisites
/camel.signals
/html
/html-build.stamp
/html.stamp
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl/*.bak
/tmpl/camel-unused.sgml
/xml
