/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/camel-1.2.pc
/camel-enumtypes.c
/camel-enumtypes.h
/camel-imapx-tokenise.h
/camel-index-control-1.2
/camel-lock-helper-1.2
/camel-mime-tables.c
/camel.pc
/libcamel-1.2.la
/so_locations
/tags
