/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/EDataServer-1.2.gir
/EDataServer-1.2.typelib
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/e-source-enumtypes.c
/e-source-enumtypes.h
/eds-version.h
/libedataserver-1.2.la
/libedataserver-1.2.pc
/libedataserver.pc
/org.gnome.evolution.shell.network-config.gschema.valid
/org.gnome.evolution.shell.network-config.gschema.xml
/so_locations
/tags
