/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/html
/html-build.stamp
/html.stamp
/libedataserver-decl-list.txt
/libedataserver-decl.txt
/libedataserver-undeclared.txt
/libedataserver-undocumented.txt
/libedataserver-unused.txt
/libedataserver.args
/libedataserver.hierarchy
/libedataserver.interfaces
/libedataserver.prerequisites
/libedataserver.signals
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl/*.bak
/tmpl/libedataserver-unused.sgml
/xml
