/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/e-source-registry-test
/e-source-test
/e-user-prompter-test
/evolution-data-server-3.9.92-coverage
/evolution-data-server-3.9.92-coverage.info
/so_locations
/tags
