/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/e-book-backend-sqlitedb-test
/libedata-book-1.2.la
/libedata-book-1.2.pc
/libedata-book.pc
/so_locations
/tags
