/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/html
/html-build.stamp
/html.stamp
/libecal-decl-list.txt
/libecal-decl.txt
/libecal-undeclared.txt
/libecal-undocumented.txt
/libecal-unused.txt
/libecal.args
/libecal.hierarchy
/libecal.interfaces
/libecal.prerequisites
/libecal.signals
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl/*.bak
/tmpl/libecal-unused.sgml
/xml
