/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/evolution-data-server-3.9.92-coverage
/evolution-data-server-3.9.92-coverage.info
/libecal-test-utils.la
/so_locations
/tags
/test-ecal-add-timezone
/test-ecal-create-object
/test-ecal-create-object--2
/test-ecal-get-alarm-email-address
/test-ecal-get-cal-address
/test-ecal-get-capabilities
/test-ecal-get-default-object
/test-ecal-get-free-busy
/test-ecal-get-ldap-attribute
/test-ecal-get-object-list
/test-ecal-get-objects-for-uid
/test-ecal-get-query
/test-ecal-get-timezone
/test-ecal-modify-object
/test-ecal-receive-objects
/test-ecal-remove-object
/test-ecal-send-objects
/test-ecal-set-default-timezone
