/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/EBook-1.2.gir
/EBook-1.2.typelib
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/e-book-enumtypes.c
/e-book-enumtypes.h
/libebook-1.2.la
/libebook-1.2.pc
/libebook.pc
/so_locations
/tags
