/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/html
/html-build.stamp
/html.stamp
/libebook-contacts-decl-list.txt
/libebook-contacts-decl.txt
/libebook-contacts-undeclared.txt
/libebook-contacts-undocumented.txt
/libebook-contacts-unused.txt
/libebook-contacts.args
/libebook-contacts.hierarchy
/libebook-contacts.interfaces
/libebook-contacts.prerequisites
/libebook-contacts.signals
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl/*.bak
/tmpl/libebook-contacts-unused.sgml
/xml
