/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/calendar.service-type
/calendar.service-type.in
/contacts.service-type
/contacts.service-type.in
/evolution-data-server-uoa.desktop
/evolution-data-server-uoa.desktop.in
/evolution-data-server.application
/evolution-data-server.application.in
/google-calendar.service
/google-calendar.service.in
/google-contacts.service
/google-contacts.service.in
/google-gmail.service
/google-gmail.service.in
/mail.service-type
/mail.service-type.in
/module-ubuntu-online-accounts.la
/so_locations
/tags
/windows-live-mail.service
/windows-live-mail.service.in
/yahoo-calendar.service
/yahoo-calendar.service.in
/yahoo-mail.service
/yahoo-mail.service.in
