/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/e-backend-enumtypes.c
/e-backend-enumtypes.h
/libebackend-1.2.la
/libebackend-1.2.pc
/libebackend.pc
/org.gnome.evolution.eds-shell.gschema.valid
/so_locations
/tags
