/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/evolution-data-server-3.9.92-coverage
/evolution-data-server-3.9.92-coverage.info
/libebook-test-utils.la
/so_locations
/tags
/test-ebook-add-contact
/test-ebook-commit-contact
/test-ebook-get-book-view
/test-ebook-get-contact
/test-ebook-get-required-fields
/test-ebook-get-static-capabilities
/test-ebook-get-supported-auth-methods
/test-ebook-get-supported-fields
/test-ebook-remove-contact
/test-ebook-remove-contact-by-id
/test-ebook-remove-contacts
