/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/e-dbus-address-book-factory-org.gnome.evolution.dataserver.AddressBookFactory.xml
/e-dbus-address-book-factory.c
/e-dbus-address-book-factory.h
/e-dbus-address-book-org.gnome.evolution.dataserver.AddressBook.xml
/e-dbus-address-book.c
/e-dbus-address-book.h
/e-dbus-authenticator-org.gnome.evolution.dataserver.Authenticator.xml
/e-dbus-authenticator.c
/e-dbus-authenticator.h
/e-dbus-calendar-factory-org.gnome.evolution.dataserver.CalendarFactory.xml
/e-dbus-calendar-factory.c
/e-dbus-calendar-factory.h
/e-dbus-calendar-org.gnome.evolution.dataserver.Calendar.xml
/e-dbus-calendar.c
/e-dbus-calendar.h
/e-dbus-direct-book-org.gnome.evolution.dataserver.DirectBook.xml
/e-dbus-direct-book.c
/e-dbus-direct-book.h
/e-dbus-source-manager-org.gnome.evolution.dataserver.SourceManager.xml
/e-dbus-source-manager.c
/e-dbus-source-manager.h
/e-dbus-source-org.gnome.evolution.dataserver.Source.OAuth2Support.xml
/e-dbus-source-org.gnome.evolution.dataserver.Source.RemoteCreatable.xml
/e-dbus-source-org.gnome.evolution.dataserver.Source.RemoteDeletable.xml
/e-dbus-source-org.gnome.evolution.dataserver.Source.Removable.xml
/e-dbus-source-org.gnome.evolution.dataserver.Source.Writable.xml
/e-dbus-source-org.gnome.evolution.dataserver.Source.xml
/e-dbus-source.c
/e-dbus-source.h
/e-dbus-user-prompter-org.gnome.evolution.dataserver.UserPrompter.xml
/e-dbus-user-prompter.c
/e-dbus-user-prompter.h
/libedbus-private.la
/so_locations
/tags
