/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/html
/html-build.stamp
/html.stamp
/libedata-book-decl-list.txt
/libedata-book-decl.txt
/libedata-book-undeclared.txt
/libedata-book-undocumented.txt
/libedata-book-unused.txt
/libedata-book.args
/libedata-book.hierarchy
/libedata-book.interfaces
/libedata-book.prerequisites
/libedata-book.signals
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl/*.bak
/tmpl/libedata-book-unused.sgml
/xml
